[submodule "Backend/whisper.cpp"]
	path = Backend/whisper.cpp
	url = https://github.com/ggml-org/whisper.cpp
[submodule "TextToSpeech/Chatterbox-TTS-Server"]
	path = TextToSpeech/Chatterbox-TTS-Server
	url = https://github.com/Latheror/chatterbox-tts-server-french.git
