#ifndef SETTINGS_H
#define SETTINGS_H

// WiFi settings
static const char* ssid = "YOUR_WIFI_SSID";
static const char* password = "YOUR_WIFI_PASSWORD";

// MQTT Broker settings
static const char* mqtt_broker = "192.168.1.XXX";  // Your PC's IP address
static const int mqtt_port = 1883;                 // Default MQTT port
static const char* mqtt_client_id = "ESP8266-Robot";  // Client ID for MQTT connection

#endif // SETTINGS_H
